@page "/admin/delete-role/{roleid}"
@model ProjectRoomChat.Areas.Admin.Pages.Role.DeleteModel
@{
    ViewData["Title"] = "Edit role";
}

<h2>@ViewData["Title"]</h2>

<partial name="_StatusMessage" model="@Model.StatusMessage" />


<hr>

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <p>Do you want to delete <strong>@Model.role.Name</strong></p>

            <div class="form-group">
                <input type="submit" value="Yes" class="btn btn-danger" />
                <a class="btn btn-primary" asp-page="./Index">No</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}